@import "tailwindcss";

@font-face {
	font-family: "Energy";
	src: url("/Energy.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.font-energy {
	font-family: "Energy", sans-serif;
}

:root {
	--color-grey: #cbcbcb;
    --color-red: #ff9191;
    --color-orange: #ffc780;
    --color-yellow: #f7f08c;
    --color-green: #b4db8f;
    --color-blue: #6dd8fe;
    --color-purple: #d791ff;
    --color-pink: #ffbfff;
    --color-violet: #a9a3ff;
    --color-white: #f0f0f0;
    --color-github: #101411;
}
